/* .mynav{
     padding-top: 15px;
} */

/* The head of img1 is overridden by the nav bar. So, to avoid this */
body::before{
    display: block;
    content: '';
    height: 50px;
}
.scp{
    word-spacing: 3px;
}

@media (min-width: 768px) {
    .news-letter{
         width: 30%;
    }    
}

